#include <os2.h>
#include "server.h"

;******************************************************************************
;******************************************************************************
;* English ********************************************************************
;******************************************************************************
;******************************************************************************
HELPTABLE   ID_CRON
BEGIN
   HELPITEM ID_CRON,          ID_CRON,                ID_CRON
   HELPITEM IDD_NOTEBOOK,     IDD_NOTEBOOK,           IDD_NOTEBOOK
   HELPITEM IDD_CRON_FILE,    IDD_CRON_FILE,          IDD_CRON_FILE
   HELPITEM IDD_CRONTABS,     IDD_CRONTABS,           IDD_CRONTABS
   HELPITEM IDD_OUTPUT,       IDD_OUTPUT,             IDD_OUTPUT
   HELPITEM IDD_OUTPUT_PATH,  IDD_OUTPUT_PATH,        IDD_OUTPUT_PATH
   HELPITEM IDD_TCP,          IDD_TCP,                IDD_TCP
   HELPITEM IDD_GENERAL,      IDD_GENERAL,            IDD_GENERAL,
   HELPITEM IDD_ABOUT,        IDD_ABOUT,              IDD_ABOUT
END


HELPSUBTABLE ID_CRON
BEGIN
   HELPSUBITEM IDME_NEXTFILE,             IDME_NEXTFILE
   HELPSUBITEM IDD_NOTEBOOK,              IDD_NOTEBOOK
   HELPSUBITEM IDME_HELPINDEX,            IDME_HELPINDEX
   HELPSUBITEM IDME_HELPGENERAL,          IDME_HELPGENERAL
   HELPSUBITEM IDME_HELPUSINGHELP,        IDME_HELPUSINGHELP
   HELPSUBITEM IDME_HELPKEYS,             IDME_HELPKEYS
   HELPSUBITEM IDD_ABOUT,                 IDD_ABOUT
END

HELPSUBTABLE IDD_NOTEBOOK
BEGIN
   HELPSUBITEM IDDE_NOTEBOOK_PAGES,       IDDE_NOTEBOOK_PAGES
   HELPSUBITEM IDDE_CRON_ATSTARTUP,       IDDE_CRON_ATSTARTUP
   HELPSUBITEM IDDE_CRON_ATEXIT,          IDDE_CRON_ATEXIT
   HELPSUBITEM IDDE_CRON_FILENAME,        IDDE_CRON_FILENAME
   HELPSUBITEM IDDE_CRON_FILENAMECHANGE,  IDDE_CRON_FILENAMECHANGE
   HELPSUBITEM IDDE_CRONTABS_LIST,        IDDE_CRONTABS_LIST
   HELPSUBITEM IDDE_CRONTABS_ENTRY,       IDDE_CRONTABS_ENTRY
   HELPSUBITEM IDDE_CRONTABS_ADD,         IDDE_CRONTABS_ADD
   HELPSUBITEM IDDE_CRONTABS_DELETE,      IDDE_CRONTABS_DELETE
   HELPSUBITEM IDDE_CRONTABS_EDIT,        IDDE_CRONTABS_EDIT
   HELPSUBITEM IDDE_CRONTABS_CHANGE,      IDDE_CRONTABS_CHANGE
   HELPSUBITEM IDDE_CRONTABS_ABORT,       IDDE_CRONTABS_ABORT
   HELPSUBITEM IDDE_OUTPUT_THRES,         IDDE_OUTPUT_THRES
   HELPSUBITEM IDDE_OUTPUT_COUNT,         IDDE_OUTPUT_COUNT
   HELPSUBITEM IDDE_OUTPUT_PATH,          IDDE_OUTPUT_PATH
   HELPSUBITEM IDDE_OUTPUT_PATHCHANGE,    IDDE_OUTPUT_PATHCHANGE
   HELPSUBITEM IDDE_OUTPUT_IGNORE_OUTPUT, IDDE_OUTPUT_IGNORE_OUTPUT
   HELPSUBITEM IDDE_TCP_FILENAME,         IDDE_TCP_FILENAME
   HELPSUBITEM IDDE_TCP_FILENAMECHANGE,   IDDE_TCP_FILENAMECHANGE
   HELPSUBITEM IDDE_TCP_ALLOWACCESS,      IDDE_TCP_ALLOWACCESS
   HELPSUBITEM IDDE_GENERAL_LANGUAGE,     IDDE_GENERAL_LANGUAGE
END

HELPSUBTABLE IDD_CRON_FILE
BEGIN
   HELPSUBITEM IDDE_CRON_ATSTARTUP,       IDDE_CRON_ATSTARTUP
   HELPSUBITEM IDDE_CRON_ATEXIT,          IDDE_CRON_ATEXIT
   HELPSUBITEM IDDE_CRON_FILENAME,        IDDE_CRON_FILENAME
   HELPSUBITEM IDDE_CRON_FILENAMECHANGE,  IDDE_CRON_FILENAMECHANGE
END

HELPSUBTABLE IDD_CRONTABS
BEGIN
   HELPSUBITEM IDDE_CRONTABS_LIST,        IDDE_CRONTABS_LIST
   HELPSUBITEM IDDE_CRONTABS_ENTRY,       IDDE_CRONTABS_ENTRY
   HELPSUBITEM IDDE_CRONTABS_ADD,         IDDE_CRONTABS_ADD
   HELPSUBITEM IDDE_CRONTABS_DELETE,      IDDE_CRONTABS_DELETE
   HELPSUBITEM IDDE_CRONTABS_EDIT,        IDDE_CRONTABS_EDIT
   HELPSUBITEM IDDE_CRONTABS_CHANGE,      IDDE_CRONTABS_CHANGE
   HELPSUBITEM IDDE_CRONTABS_ABORT,       IDDE_CRONTABS_ABORT
END

HELPSUBTABLE IDD_OUTPUT
BEGIN
   HELPSUBITEM IDDE_OUTPUT_THRES,         IDDE_OUTPUT_THRES
   HELPSUBITEM IDDE_OUTPUT_COUNT,         IDDE_OUTPUT_COUNT
   HELPSUBITEM IDDE_OUTPUT_PATH,          IDDE_OUTPUT_PATH
   HELPSUBITEM IDDE_OUTPUT_PATHCHANGE,    IDDE_OUTPUT_PATHCHANGE
   HELPSUBITEM IDDE_OUTPUT_IGNORE_OUTPUT, IDDE_OUTPUT_IGNORE_OUTPUT
END

HELPSUBTABLE IDD_OUTPUT_PATH
BEGIN
   HELPSUBITEM IDDE_OUTPUT_PATH_ENTRY,    IDDE_OUTPUT_PATH_ENTRY
   HELPSUBITEM IDDE_OUTPUT_PATH_LIST,     IDDE_OUTPUT_PATH_LIST
END

HELPSUBTABLE IDD_TCP
BEGIN
   HELPSUBITEM IDDE_TCP_FILENAME,         IDDE_TCP_FILENAME
   HELPSUBITEM IDDE_TCP_FILENAMECHANGE,   IDDE_TCP_FILENAMECHANGE
   HELPSUBITEM IDDE_TCP_ALLOWACCESS,      IDDE_TCP_ALLOWACCESS
END

HELPSUBTABLE IDD_GENERAL
BEGIN
   HELPSUBITEM IDDE_GENERAL_LANGUAGE,     IDDE_GENERAL_LANGUAGE
END

HELPSUBTABLE IDD_ABOUT
BEGIN
   HELPSUBITEM DID_OK,                    IDD_ABOUT
END

;******************************************************************************
;******************************************************************************
;* Deutsch ********************************************************************
;******************************************************************************
;******************************************************************************
HELPTABLE   ID_CRON_G
BEGIN
   HELPITEM ID_CRON_G,          ID_CRON_G,              ID_CRON_G
   HELPITEM IDD_NOTEBOOK_G,     IDD_NOTEBOOK_G,         IDD_NOTEBOOK_G
   HELPITEM IDD_CRON_FILE_G,    IDD_CRON_FILE_G,        IDD_CRON_FILE_G
   HELPITEM IDD_CRONTABS_G,     IDD_CRONTABS_G,         IDD_CRONTABS_G
   HELPITEM IDD_OUTPUT_G,       IDD_OUTPUT_G,           IDD_OUTPUT_G
   HELPITEM IDD_OUTPUT_PATH_G,  IDD_OUTPUT_PATH_G,      IDD_OUTPUT_PATH_G
   HELPITEM IDD_TCP_G,          IDD_TCP_G,              IDD_TCP_G
   HELPITEM IDD_GENERAL_G,      IDD_GENERAL_G,          IDD_GENERAL_G
   HELPITEM IDD_ABOUT_G,        IDD_ABOUT_G,            IDD_ABOUT_G
END


HELPSUBTABLE ID_CRON_G
BEGIN
   HELPSUBITEM IDME_NEXTFILE_G,                 IDME_NEXTFILE_G
   HELPSUBITEM IDD_NOTEBOOK_G,                  IDD_NOTEBOOK_G
   HELPSUBITEM IDME_HELPINDEX_G,                IDME_HELPINDEX_G
   HELPSUBITEM IDME_HELPGENERAL_G,              IDME_HELPGENERAL_G
   HELPSUBITEM IDME_HELPUSINGHELP_G,            IDME_HELPUSINGHELP_G
   HELPSUBITEM IDME_HELPKEYS_G,                 IDME_HELPKEYS_G
   HELPSUBITEM IDD_ABOUT_G,                     IDD_ABOUT_G
END

HELPSUBTABLE IDD_NOTEBOOK_G
BEGIN
   HELPSUBITEM IDDE_NOTEBOOK_PAGES_G,           IDDE_NOTEBOOK_PAGES_G
   HELPSUBITEM IDDE_CRON_ATSTARTUP_G,           IDDE_CRON_ATSTARTUP_G
   HELPSUBITEM IDDE_CRON_ATEXIT_G,              IDDE_CRON_ATEXIT_G
   HELPSUBITEM IDDE_CRON_FILENAME_G,            IDDE_CRON_FILENAME_G
   HELPSUBITEM IDDE_CRON_FILENAMECHANGE_G,      IDDE_CRON_FILENAMECHANGE_G
   HELPSUBITEM IDDE_CRONTABS_LIST_G,            IDDE_CRONTABS_LIST_G
   HELPSUBITEM IDDE_CRONTABS_ENTRY_G,           IDDE_CRONTABS_ENTRY_G
   HELPSUBITEM IDDE_CRONTABS_ADD_G,             IDDE_CRONTABS_ADD_G
   HELPSUBITEM IDDE_CRONTABS_DELETE_G,          IDDE_CRONTABS_DELETE_G
   HELPSUBITEM IDDE_CRONTABS_EDIT_G,            IDDE_CRONTABS_EDIT_G
   HELPSUBITEM IDDE_CRONTABS_CHANGE_G,          IDDE_CRONTABS_CHANGE_G
   HELPSUBITEM IDDE_CRONTABS_ABORT_G,           IDDE_CRONTABS_ABORT_G
   HELPSUBITEM IDDE_OUTPUT_THRES_G,             IDDE_OUTPUT_THRES_G
   HELPSUBITEM IDDE_OUTPUT_COUNT_G,             IDDE_OUTPUT_COUNT_G
   HELPSUBITEM IDDE_OUTPUT_PATH_G,              IDDE_OUTPUT_PATH_G
   HELPSUBITEM IDDE_OUTPUT_PATHCHANGE_G,        IDDE_OUTPUT_PATHCHANGE_G
   HELPSUBITEM IDDE_OUTPUT_IGNORE_OUTPUT_G,     IDDE_OUTPUT_IGNORE_OUTPUT_G
   HELPSUBITEM IDDE_TCP_FILENAME_G,             IDDE_TCP_FILENAME_G
   HELPSUBITEM IDDE_TCP_FILENAMECHANGE_G,       IDDE_TCP_FILENAMECHANGE_G
   HELPSUBITEM IDDE_TCP_ALLOWACCESS_G,          IDDE_TCP_ALLOWACCESS_G
   HELPSUBITEM IDDE_GENERAL_LANGUAGE_G,         IDDE_GENERAL_LANGUAGE_G
END

HELPSUBTABLE IDD_CRON_FILE_G
BEGIN
   HELPSUBITEM IDDE_CRON_ATSTARTUP_G,           IDDE_CRON_ATSTARTUP_G
   HELPSUBITEM IDDE_CRON_ATEXIT_G,              IDDE_CRON_ATEXIT_G
   HELPSUBITEM IDDE_CRON_FILENAME_G,            IDDE_CRON_FILENAME_G
   HELPSUBITEM IDDE_CRON_FILENAMECHANGE_G,      IDDE_CRON_FILENAMECHANGE_G
END

HELPSUBTABLE IDD_CRONTABS_G
BEGIN
   HELPSUBITEM IDDE_CRONTABS_LIST_G,            IDDE_CRONTABS_LIST_G
   HELPSUBITEM IDDE_CRONTABS_ENTRY_G,           IDDE_CRONTABS_ENTRY_G
   HELPSUBITEM IDDE_CRONTABS_ADD_G,             IDDE_CRONTABS_ADD_G
   HELPSUBITEM IDDE_CRONTABS_DELETE_G,          IDDE_CRONTABS_DELETE_G
   HELPSUBITEM IDDE_CRONTABS_EDIT_G,            IDDE_CRONTABS_EDIT_G
   HELPSUBITEM IDDE_CRONTABS_CHANGE_G,          IDDE_CRONTABS_CHANGE_G
   HELPSUBITEM IDDE_CRONTABS_ABORT_G,           IDDE_CRONTABS_ABORT_G
END

HELPSUBTABLE IDD_OUTPUT_G
BEGIN
   HELPSUBITEM IDDE_OUTPUT_THRES_G,             IDDE_OUTPUT_THRES_G
   HELPSUBITEM IDDE_OUTPUT_COUNT_G,             IDDE_OUTPUT_COUNT_G
   HELPSUBITEM IDDE_OUTPUT_PATH_G,              IDDE_OUTPUT_PATH_G
   HELPSUBITEM IDDE_OUTPUT_PATHCHANGE_G,        IDDE_OUTPUT_PATHCHANGE_G
   HELPSUBITEM IDDE_OUTPUT_IGNORE_OUTPUT_G,     IDDE_OUTPUT_IGNORE_OUTPUT_G
END

HELPSUBTABLE IDD_OUTPUT_PATH_G
BEGIN
   HELPSUBITEM IDDE_OUTPUT_PATH_ENTRY_G,        IDDE_OUTPUT_PATH_ENTRY_G
   HELPSUBITEM IDDE_OUTPUT_PATH_LIST_G,         IDDE_OUTPUT_PATH_LIST_G
END

HELPSUBTABLE IDD_TCP_G
BEGIN
   HELPSUBITEM IDDE_TCP_FILENAME_G,             IDDE_TCP_FILENAME_G
   HELPSUBITEM IDDE_TCP_FILENAMECHANGE_G,       IDDE_TCP_FILENAMECHANGE_G
   HELPSUBITEM IDDE_TCP_ALLOWACCESS_G,          IDDE_TCP_ALLOWACCESS_G
END

HELPSUBTABLE IDD_GENERAL_G
BEGIN
   HELPSUBITEM IDDE_GENERAL_LANGUAGE_G,         IDDE_GENERAL_LANGUAGE_G
END

HELPSUBTABLE IDD_ABOUT_G
BEGIN
   HELPSUBITEM DID_OK,                          IDD_ABOUT_G
END

;******************************************************************************
;******************************************************************************
;* Fran‡ais *******************************************************************
;******************************************************************************
;******************************************************************************
HELPTABLE   ID_CRON_F
BEGIN
   HELPITEM ID_CRON_F,          ID_CRON_F,              ID_CRON_F
   HELPITEM IDD_NOTEBOOK_F,     IDD_NOTEBOOK_F,         IDD_NOTEBOOK_F
   HELPITEM IDD_CRON_FILE_F,    IDD_CRON_FILE_F,        IDD_CRON_FILE_F
   HELPITEM IDD_CRONTABS_F,     IDD_CRONTABS_F,         IDD_CRONTABS_F
   HELPITEM IDD_OUTPUT_F,       IDD_OUTPUT_F,           IDD_OUTPUT_F
   HELPITEM IDD_OUTPUT_PATH_F,  IDD_OUTPUT_PATH_F,      IDD_OUTPUT_PATH_F
   HELPITEM IDD_TCP_F,          IDD_TCP_F,              IDD_TCP_F
   HELPITEM IDD_GENERAL_F,      IDD_GENERAL_F,          IDD_GENERAL_F
   HELPITEM IDD_ABOUT_F,        IDD_ABOUT_F,            IDD_ABOUT_F
END


HELPSUBTABLE ID_CRON_F
BEGIN
   HELPSUBITEM IDME_NEXTFILE_F,                 IDME_NEXTFILE_F
   HELPSUBITEM IDD_NOTEBOOK_F,                  IDD_NOTEBOOK_F
   HELPSUBITEM IDME_HELPINDEX_F,                IDME_HELPINDEX_F
   HELPSUBITEM IDME_HELPGENERAL_F,              IDME_HELPGENERAL_F
   HELPSUBITEM IDME_HELPUSINGHELP_F,            IDME_HELPUSINGHELP_F
   HELPSUBITEM IDME_HELPKEYS_F,                 IDME_HELPKEYS_F
   HELPSUBITEM IDD_ABOUT_F,                     IDD_ABOUT_F
END

HELPSUBTABLE IDD_NOTEBOOK_F
BEGIN
   HELPSUBITEM IDDE_NOTEBOOK_PAGES_F,           IDDE_NOTEBOOK_PAGES_F
   HELPSUBITEM IDDE_CRON_ATSTARTUP_F,           IDDE_CRON_ATSTARTUP_F
   HELPSUBITEM IDDE_CRON_ATEXIT_F,              IDDE_CRON_ATEXIT_F
   HELPSUBITEM IDDE_CRON_FILENAME_F,            IDDE_CRON_FILENAME_F
   HELPSUBITEM IDDE_CRON_FILENAMECHANGE_F,      IDDE_CRON_FILENAMECHANGE_F
   HELPSUBITEM IDDE_CRONTABS_LIST_F,            IDDE_CRONTABS_LIST_F
   HELPSUBITEM IDDE_CRONTABS_ENTRY_F,           IDDE_CRONTABS_ENTRY_F
   HELPSUBITEM IDDE_CRONTABS_ADD_F,             IDDE_CRONTABS_ADD_F
   HELPSUBITEM IDDE_CRONTABS_DELETE_F,          IDDE_CRONTABS_DELETE_F
   HELPSUBITEM IDDE_CRONTABS_EDIT_F,            IDDE_CRONTABS_EDIT_F
   HELPSUBITEM IDDE_CRONTABS_CHANGE_F,          IDDE_CRONTABS_CHANGE_F
   HELPSUBITEM IDDE_CRONTABS_ABORT_F,           IDDE_CRONTABS_ABORT_F
   HELPSUBITEM IDDE_OUTPUT_THRES_F,             IDDE_OUTPUT_THRES_F
   HELPSUBITEM IDDE_OUTPUT_COUNT_F,             IDDE_OUTPUT_COUNT_F
   HELPSUBITEM IDDE_OUTPUT_PATH_F,              IDDE_OUTPUT_PATH_F
   HELPSUBITEM IDDE_OUTPUT_PATHCHANGE_F,        IDDE_OUTPUT_PATHCHANGE_F
   HELPSUBITEM IDDE_OUTPUT_IGNORE_OUTPUT_F,     IDDE_OUTPUT_IGNORE_OUTPUT_F
   HELPSUBITEM IDDE_TCP_FILENAME_F,             IDDE_TCP_FILENAME_F
   HELPSUBITEM IDDE_TCP_FILENAMECHANGE_F,       IDDE_TCP_FILENAMECHANGE_F
   HELPSUBITEM IDDE_TCP_ALLOWACCESS_F,          IDDE_TCP_ALLOWACCESS_F
   HELPSUBITEM IDDE_GENERAL_LANGUAGE_F,         IDDE_GENERAL_LANGUAGE_F
END

HELPSUBTABLE IDD_CRON_FILE_F
BEGIN
   HELPSUBITEM IDDE_CRON_ATSTARTUP_F,           IDDE_CRON_ATSTARTUP_F
   HELPSUBITEM IDDE_CRON_ATEXIT_F,              IDDE_CRON_ATEXIT_F
   HELPSUBITEM IDDE_CRON_FILENAME_F,            IDDE_CRON_FILENAME_F
   HELPSUBITEM IDDE_CRON_FILENAMECHANGE_F,      IDDE_CRON_FILENAMECHANGE_F
END

HELPSUBTABLE IDD_CRONTABS_F
BEGIN
   HELPSUBITEM IDDE_CRONTABS_LIST_F,            IDDE_CRONTABS_LIST_F
   HELPSUBITEM IDDE_CRONTABS_ENTRY_F,           IDDE_CRONTABS_ENTRY_F
   HELPSUBITEM IDDE_CRONTABS_ADD_F,             IDDE_CRONTABS_ADD_F
   HELPSUBITEM IDDE_CRONTABS_DELETE_F,          IDDE_CRONTABS_DELETE_F
   HELPSUBITEM IDDE_CRONTABS_EDIT_F,            IDDE_CRONTABS_EDIT_F
   HELPSUBITEM IDDE_CRONTABS_CHANGE_F,          IDDE_CRONTABS_CHANGE_F
   HELPSUBITEM IDDE_CRONTABS_ABORT_F,           IDDE_CRONTABS_ABORT_F
END

HELPSUBTABLE IDD_OUTPUT_F
BEGIN
   HELPSUBITEM IDDE_OUTPUT_THRES_F,             IDDE_OUTPUT_THRES_F
   HELPSUBITEM IDDE_OUTPUT_COUNT_F,             IDDE_OUTPUT_COUNT_F
   HELPSUBITEM IDDE_OUTPUT_PATH_F,              IDDE_OUTPUT_PATH_F
   HELPSUBITEM IDDE_OUTPUT_PATHCHANGE_F,        IDDE_OUTPUT_PATHCHANGE_F
   HELPSUBITEM IDDE_OUTPUT_IGNORE_OUTPUT_F,     IDDE_OUTPUT_IGNORE_OUTPUT_F
END

HELPSUBTABLE IDD_OUTPUT_PATH_F
BEGIN
   HELPSUBITEM IDDE_OUTPUT_PATH_ENTRY_F,        IDDE_OUTPUT_PATH_ENTRY_F
   HELPSUBITEM IDDE_OUTPUT_PATH_LIST_F,         IDDE_OUTPUT_PATH_LIST_F
END

HELPSUBTABLE IDD_TCP_F
BEGIN
   HELPSUBITEM IDDE_TCP_FILENAME_F,             IDDE_TCP_FILENAME_F
   HELPSUBITEM IDDE_TCP_FILENAMECHANGE_F,       IDDE_TCP_FILENAMECHANGE_F
   HELPSUBITEM IDDE_TCP_ALLOWACCESS_F,          IDDE_TCP_ALLOWACCESS_F
END

HELPSUBTABLE IDD_GENERAL_F
BEGIN
   HELPSUBITEM IDDE_GENERAL_LANGUAGE_F,         IDDE_GENERAL_LANGUAGE_F
END

HELPSUBTABLE IDD_ABOUT_F
BEGIN
   HELPSUBITEM DID_OK,                          IDD_ABOUT_F
END
